<p>
	<button class="btn-round" type="button">Round</button>
</p>

<%= image_tag("square_robot.jpg", alt:"kikoulol", :class => "avatar") %>

<div class="card" style="margin-left: 20px; position: relative; height: 250px; width: 250px; background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('http://placeimg.com/250/300/any'); background-size: cover; color: white !important;">
<div class="card-user" style="position: absolute; top: 10px; left: 10px;">
<img src="http://placeimg.com/50/50/any" class="rounded-circle img-raised">
</div>
<div class="card-tag" style="position: absolute; top: 10px; right: 10px;">
#backend</div>
<div class="card-description" style="position: absolute; bottom: 10px; left: 10px;  color: white !important;">
 <h3>THP Backend</h3>
              <p>Greatest backend  course ever</p></div>
</div>
